<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/estilos.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-part2.min.css")" />
    <![endif]-->
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

    <link href="~/assets/css/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/kendo/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/assets/css/select2.css" />
    <link rel="stylesheet" href="~/assets/css/modal.css" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-ie.min.css")" />
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="@Url.Content("~/assets/js/html5shiv.min.js")"></script>
    <script src="@Url.Content("~/assets/js/respond.min.js")"></script>
    <![endif]-->

    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/kendo/jszip.min.js")"></script>
    <script src="@Url.Content("~/assets/js/kendo/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/assets/js/kendo/kendo.aspnetmvc.min.js")"></script>

    <script src="@Url.Content("~/assets/js/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/assets/js/jQuery.flashMessage.js")"></script>
    <script src="@Url.Content("~/assets/js/select2.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootbox2.min.js")"></script>
    <script src="@Url.Content("~/assets/js/autoNumeric.js")"></script>
    <script src="@Url.Content("~/assets/js/kendo/kendo.es-ES.js")"></script>
    <script src="~/assets/js/numericInput.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="@Url.Content("~/assets/js/custom/ajaxsessionauthorize.js")"></script>
    <link href="~/assets/css/styles.css" rel="stylesheet" />
    <script src="~/assets/js/numericInput.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput1.4.min.js"></script>
    <script src="~/assets/js/custom/Utilidades.js"></script>
    <script type="text/javascript">

        var $procesoExitoso = 'Proceso Exitoso';

        function mostrarMensaje(titulo, texto) {

            $('#idTituloMensaje').html('');
            $('#idTextoMensaje').html('');
            $('#idTituloMensaje').html(titulo);
            $('#idTextoMensaje').html(texto);
            $('#idModalTexto').modal('show');
        }
         

        $(document).ready(function () {

           
             
            $(".select2").select2({
                allowClear: true,
                language: "es"
            })
                .addClass('width-100 input-sm no-padding');

            bootbox.setDefaults({
                locale: "es",
                backdrop: true,
                keyboard: false
            });

            
            $.fn.datepicker.defaults.format = "yyyy/mm/dd";
            $.fn.datepicker.defaults.language = "es";

            $(".onlyNumber").numericInput({ allowFloat: false, allowNegative: false });

            $(".onlyFloat").numericInput({ allowFloat: true, allowNegative: false });

            $(".date-picker").datepicker({ autoclose: true }).next().click(function (e) {
                $(this).prev().focus();
            });

            $('.date-future-disable').keypress(function (e) {
                var keycode = (e.keyCode ? e.keyCode : e.which);
                if (keycode == 8 || keycode == 9)
                    return true;
                else
                    return false;
            }).datepicker({
                endDate: new Date(),
                autoclose: true
            }).next().click(function () {
                $(this).prev().focus();
            });

            $('.date-future').keypress(function (e) {
                var keycode = (e.keyCode ? e.keyCode : e.which);
                if (keycode == 8 || keycode == 9)
                    return true;
                else
                    return false;
            }).datepicker({
                maxViewMode: 1,
                autoclose: true
            }).next().click(function () {
                $(this).prev().focus();
            });

            $('form').keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

            window.api = 'https://jsonplaceholder.typicode.com/';

        });


    </script>
</head>
<body class="no-skin"> 
   
    <div class="main-container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div> 
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/date-time/moment.min.js"></script>
    <script src="~/assets/js/date-time/locales/bootstrap-datepicker.es.js"></script>
    <script src="~/assets/js/validaciones.js"></script>
    <!-- ace scripts -->
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.es.js"></script>
    <script src="~/assets/js/bootstrap-waitingfor.js"></script>
    <script src="~/assets/js/kendo/kendo.es-ES.js"></script>


    <div id="idModalTexto" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="idTituloMensaje"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12" id="idTextoMensaje">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" data-dismiss="modal">
                        <i class=" ace-icon fa fa-times"></i>Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
